<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
            <!-- analogy href= Url.Action(...)-->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Web Stroe on C#</a>
            <form class="form-inline my-2 my-lg-0" action=@Url.Action("Index", "Search") method="get">
                                                                       <!-- in SearchControlle paramet name 'query'--> 
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="author name"/>
                <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Search</button>
            </form>
            <span class="navbar-text ml-auto">
                @{
                    Cart cart;
                    if (Context.Session.TryGetCart(out cart) && @cart.TotalCount > 0)
                    {
                        @:Goods @cart.TotalCount at amount @cart.TotalPrice
                    }
                    else
                    { 
                        @: Cart is empty
                    }
                    
                }
            </span>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
